# .gitignore

*~
*.sw?

/web/bundles/
/web/js/
/web/css/

/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml

/build/
/vendor/

# Moved vendor binaries under vendor/bin/ (see composer.json)
# /bin/

/composer.phar
*.sqlite

app/check.php
app/SymfonyRequirements.php
