# File: app/config/parameters.yml.dist
#
# Fcj.2013-09-06 : This is now (Symfony 2.3) a template file used by
#    incenteev/composer-parameter-handler for automatic generation of
#    parameters.yml
#
parameters:
    database_driver:   pdo_sqlite
    #database_driver:   pdo_mysql
    database_path:     "%kernel.root_dir%/app.sqlite"
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     nymph
    database_user:     dbuser
    database_password: dbpass

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    # Fcj.2013-06-25 : For DB-baked PHP session storage;
    #    @link http://symfony.com/doc/current/cookbook/configuration/pdo_session_storage.html
    #    See also config.yml « framework.session.handler_id », « services.pdo » & « services.session.handler.pdo ».
    #    See http://symfony.com/doc/current/cookbook/configuration/pdo_session_storage.html#mysql for the CREATE DQLs.
    pdo.db_options:
        db_table:    session
        db_id_col:   session_id
        db_data_col: session_value
        db_time_col: session_time
